body {
    padding: 0;
    margin: 0;
	background-color: black;
}

#map {
	position: absolute;
	left: 4%; 
	right: 4%;
	bottom: 0;
}
/*#map {
    left: 50%;
    margin: -225px 0 0 -467px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 935px;
}*/
.fruit {
	border: 1px solid white;
	margin-right: 1px;
	cursor: pointer;
	transition: transform 0.5s ease-in-out; 
}

#pause {
	display: none;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	color: white;
	background: rgba(0, 0, 0, 0.9);
}

.overlay .title {
	font-size: 60px;
	font-variant: small-caps;
	color: white;
	margin: 0;
	padding: 0;
	text-align: center;
	top: 15%;
	position: relative;
	text-decoration: underline;
}

.overlay .item {
	font-size: 32px;
	font-weight: bold;
	font-variant: small-caps;
	color: #D8D8D8;
	cursor: pointer;
	margin: 1%;
	text-align: center;
	top: 25%;
	position: relative;
}