@font-face {
	font-family: Chewy;
	src: local('chewy'), url('../resources/fonts/chewy.woff') format('woff');
}

body {
  margin: 0;
}

img.fruit {
  position: absolute;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}

div#map {
  position: absolute;
  display: none;
}

div#no-more-movement {
  display: none;
}

div#pause {
  display: none;
  color: orange;
  background-image: url("../resources/backgrounds/pause.jpg");
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

div#end {
  background-image: url("../resources/backgrounds/end-fr.jpg");
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  display: none;
  color: #bdbbbc;
  background-color: #80D5FE;
  font-family: Chewy;
}

div#end-level {
  background-image: url("../resources/backgrounds/end-level-fr.jpg");
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  display: none;
  color: #bdbbbc;
  background-color: #80D5FE;
  font-family: Chewy;
}

div#end div#end-score, div#end-level div#end-level-score {
  display: none;
  position: relative;
  top: 60%;
  width: 40%;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-family: Chewy;
}

div#end div#end-score-msg {
  display: none;
  position: relative;
  top: 63%;
  width: 60%;
  margin: auto;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  font-variant: small-caps;
  cursor: default;
}
div#timer {
  font-family: Chewy;
  position: absolute;
  color: orange;
  font-weight: bold;
  cursor: default;
  display: none;
  text-align: center;
  pointer-events: none;
  margin: auto;
}

div#score {
  font-family: Chewy;
  position: absolute;
  color: orange;
  font-weight: bold;
  cursor: default;
  display: none;
  text-align: center;
  pointer-events: none;
  margin: auto;
}

img#btn-pause {
  position: absolute;
  top: 3%;
  left: 2%;
  display: none;
  cursor: pointer;
}

img#btn-reload {
  position: absolute;
  top: 3%;
  right: 2%;
  display: none;
  cursor: pointer;
}

div#launch-screen {
  background-image: url("../resources/backgrounds/launcher.jpg");
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

div#menu {
  background-image: url("../resources/backgrounds/menu.jpg");
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  display: none;
  position: absolute;
}

div#menu div, div#game div, div#scores div {
  font-size: 32px;
  color: grey;
  cursor: pointer;
  text-align: center;
  position: relative;
  font-family: Chewy;
  font-variant: small-caps;
  background-repeat:repeat-x;
  width: 55%;
  border-radius: 16px 16px 16px 16px;
  margin: auto;
}

div#menu div:hover, div#game div:hover, div#scores div:hover {
 color: #222; 
 background: #555; 
 background: -webkit-linear-gradient( #777, #333); 
 background: -moz-linear-gradient( #777, #333); 
 background: -ms-linear-gradient( #777, #333); 
 background: -o-linear-gradient( #777, #333); 
 background: linear-gradient( #777, #333); 
}

div#menu div#btn-play {
  background-image: url("../resources/images/bg-btn-play.png");
}

div#menu div#btn-scores {
  background-image: url("../resources/images/bg-btn-scores.png");
}

div#menu div#btn-achievements {
  background-image: url("../resources/images/bg-btn-achievements.png");
}

div#menu div#btn-options {
  background-image: url("../resources/images/bg-btn-options.png");
}

div#bg-game {
  background-image: url("../resources/backgrounds/bg-game.jpg");
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  display: none;
  position: absolute;
  z-index: 0;
}

div#game {
  background-image: url("../resources/backgrounds/game-fr.jpg");
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  display: none;
  position: absolute;
}

div#game div#btn-level {
  background-image: url("../resources/images/bg-btn-play.png");
  background-repeat:repeat-x;
  width: 40%;
  border-radius: 16px 16px 16px 16px;
  font-size: 25px;
  margin: auto;
}
 
div#game div#btn-time-trial {
  background-image: url("../resources/images/bg-btn-play.png");
  background-repeat:repeat-x;
  width: 60%;
  border-radius: 16px 16px 16px 16px;
  font-size: 25px;
  margin: auto;
}

div#scores {
  background-image: url("../resources/backgrounds/scores.jpg");
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  display: none;
  position: absolute;
}

div#scores div#btn-level-scores {
  background-image: url("../resources/images/bg-btn-scores.png");
  background-repeat:repeat-x;
  width: 40%;
  border-radius: 16px 16px 16px 16px;
  font-size: 25px;
  margin: auto;
}

div#scores div#btn-time-trial-scores {
  background-image: url("../resources/images/bg-btn-scores.png");
  background-repeat:repeat-x;
  width: 60%;
  border-radius: 16px 16px 16px 16px;
  font-size: 25px;
  margin: auto;
}

div#scores div#scores-list {
  position: relative;
  top: 55%;
  width: 60%;
  margin: auto;
  text-align: center;
  font-weight: bold;
  color: #ceead5;
  font-size: 20px;
  cursor: default;
}

div#scores div#scores-list span.scores-list-item {
  color: #ceead5;
}

div#options {
  background-image: url("../resources/backgrounds/options-fr.jpg");
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  display: none;
  position: absolute;
}

div#options div#btn-options-first-level {
  position: relative;
  top: 57%;
  width: 100%;
  margin: auto;
  text-align: center;
}

div#options div#btn-options-second-level {
  position: relative;
  top: 61%;
  width: 100%;
  margin: auto;
  text-align: center;
}

div#options div#btn-options-first-level img, div#options div#btn-options-second-level img {
  cursor: pointer;
  margin-right: 8%;
  margin-left: 8%;
}

div#level-goal {
  background-image: url("../resources/backgrounds/level-goal-fr.jpg");
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  display: none;
  position: absolute;
}

div#level-goal div {
  font-size: 32px;
  text-align: center;
  position: relative;
  font-family: Chewy;
  font-variant: small-caps;
  width: 55%;
  border-radius: 16px 16px 16px 16px;
  margin: auto;
  cursor: default;
}

div#level-goal div#level-goal-btn-play {
  background-image: url("../resources/images/bg-btn-play.png");
  color: grey;
  cursor: pointer;
  margin-top: 3%;
  margin-bottom: 1%;

}

div#level-goal div#level-goal-score, div#level-goal div#level-goal-time {
  color: #bdbbbc;
  margin-top: -2%;
  margin-bottom: 2.3%;
}

div#level-goal div#level-goal-move  {
  color: #bdbbbc;
}

div#level-goal div#level-goal-id {
  color: orange;
}

div#level-goal div#level-goal-id span#level-goal-id-num {
  margin-left: 5%;
}

div#levels {
  background-image: url("../resources/backgrounds/levels-fr.jpg");
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  display: none;
  position: absolute;
}

div#levels div.page {
  position: absolute;
  width: 100%;
  height: 100%;
}

div#levels div.levels-first-level {
  position: relative;
  top: 53%;
  width: 100%;
  margin: auto;
  text-align: center;
}

div#levels  div.levels-first-level-cherry {
  position: relative;
  top: 53%;
  width: 100%;
  margin: auto;
  text-align: center;
}

div#levels  div.levels-first-level-cherry img {
  cursor: pointer;
  margin-right: 7%;
  margin-left: 7%;
}

div#levels div.levels-second-level {
  position: relative;
  top: 55%;
  width: 100%;
  margin: auto;
  text-align: center;
}

div#levels div.levels-second-level-cherry {
  position: relative;
  top: 55%;
  width: 100%;
  margin: auto;
  text-align: center;
}

div#levels  div.levels-second-level-cherry img {
  cursor: pointer;
  margin-right: 7%;
  margin-left: 7%;
}

div#levels div.levels-first-level img, div#levels div.levels-second-level img {
  cursor: pointer;
  margin-right: 1.2%;
  margin-left: 1.2%;
}

img.arrow-next{
  position: absolute;
  bottom: 2%;
  right: 0;
  cursor: pointer;
}

img.arrow-previous, img.arrow-previous-play, img.arrow-previous-level, img#arrow-previous-play-level {
  position: absolute;
  bottom: 2%;
  left: 0;
  cursor: pointer;
  z-index: 2;
}

.overlay, .overlay-no-more-movement {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.overlay-no-more-movement {
  background-color: rgba(0,0,0,0.8);
}

.overlay .title {
  font-size: 60px;
  font-variant: small-caps;
  color: #F07814;
  margin: 0;
  padding: 0;
  text-align: center;
  top: 15%;
  position: relative;
  text-decoration: underline;
}

.overlay .item, .overlay-no-more-movement .item {
  font-family: Chewy;
  font-weight: bold;
  font-variant: small-caps;
  color: #bdbbbc;
  cursor: pointer;
  text-align: center;
  top: 40%;
  position: relative;
}

.overlay .item {
  font-size: 32px;
  margin: 1%;
}

.overlay-no-more-movement .item {
  font-size: 24px;
  margin: 1%;
  margin-top: 5%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spinoff {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spinoff {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(-360deg); }
}

.spinning {
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s infinite linear;
}

