body {
  margin: 0;
}

img.fruit {
  position: absolute;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

div#map {
  position: absolute;
  display: none;
}

div#pause {
  display: none;
  color: orange;
  background-color: #80D5FE;
}

div#timer {
  position: absolute;
  top: 1%;
  right: 2%;
  color: orange;
  font-weight: bold;
  cursor: default;
  display: none;
}

img#btn-pause {
  position: absolute; 
  top: 1%;
  left: 2%;
  display: none;
  cursor: pointer;
}

img#btn-reload {
  position: absolute; 
  top: 1%;
  left: 15%;
  display: none;
  cursor: pointer;
}

div#launch-screen {
  background-image: url("../resources/backgrounds/launcher.jpg");
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
  background-size: 100% 100%;
}

div#menu {
  background-image: url("../resources/backgrounds/menu.jpg");
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
  background-size: 100% 100%;
  display: none;
  position: absolute;
}

div#menu div#btn-play {
  background-image: url("../resources/images/bg-btn-play.png");
  background-repeat:repeat-x;
  width: 40%;
  border-radius: 20%;
}

div#menu div#btn-scores {
  background-image: url("../resources/images/bg-btn-scores.png");
  background-repeat:repeat-x;
  width: 40%;
  border-radius: 20%;
}

div#menu div#btn-options {
  background-image: url("../resources/images/bg-btn-options.png");
  background-repeat:repeat-x;
  width: 40%;
  border-radius: 20%;
}

div#scores {
  background-image: url("../resources/backgrounds/scores.jpg");
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
  background-size: 100% 100%;
  display: none;
  position: absolute;
}

div#options {
  background-image: url("../resources/backgrounds/options-fr.jpg");
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
  background-size: 100% 100%;
  display: none;
  position: absolute;
}

div#options img#btn-lang {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

div#menu div{
  font-size: 32px;
  color: gray;
  cursor: pointer;
  text-align: center;
  position: relative;
  font-family: Calibri;
  font-variant: small-caps;
  left: 30%;
}

div#score {
  position: absolute;
  top: 8%;
  right: 2%;
  color: orange;
  font-weight: bold;
  cursor: default;
  display: none;
}

img.arrow-previous {
  position: absolute;
  bottom: 2%;
  left: 0;
  cursor: pointer;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.overlay .title {
  font-size: 60px;
  font-variant: small-caps;
  color: #F07814;
  margin: 0;
  padding: 0;
  text-align: center;
  top: 15%;
  position: relative;
  text-decoration: underline;
}

.overlay .item {
  font-size: 32px;
  font-weight: bold;
  font-variant: small-caps;
  color: orange;
  cursor: pointer;
  margin: 1%;
  text-align: center;
  top: 25%;
  position: relative;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spinoff {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}
